%%-*- mode: erlang -*-
{deps, [
  {webmachine, "1.10.*", {git, "git://github.com/webmachine/webmachine", {branch, "develop"}}},
  {mustache, "0.1.1", {git, "git://github.com/mojombo/mustache.erl.git", {branch, "master"}}}
]}.

{relx, [{release, {'petite', "0.1.0"},
         ['petite',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {dev, [
        {deps, [
            {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{plugins, [rebar3_auto]}.
